{{> head}}

<body>
    <main class="container">
        {{> nav }}
        <h3 class="title is-4">{{heading}}</h3>
        <p id='homeheading'>
            Hier können die Comscorefelder bearbeitet werden.
        </p>

        <form>
            <div class="field">
                <div class="control">
                    <label class="label">Titel</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>

                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
            </div>


            <div class="field is-grouped">
                <div class="control">
                    <label class="label">Feld 1</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>
                <div class="control">
                    <label class="label">Feld 2</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>

                <div class="control">
                    <label class="label">Feld 1</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>
                <div class="control">
                    <label class="label">Feld 2</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <label class="label">Feld 1</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>
                <div class="control">
                    <label class="label">Feld 2</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>

                <div class="control">
                    <label class="label">Feld 1</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>
                <div class="control">
                    <label class="label">Feld 2</label>
                    <input class="input" type="text" placeholder="Text input">
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" value="Submit">Update</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>


        </form>






    </main>
</body>

{{> footer}}