{{> head}}

<body>
    {{>onlythesmall}}
    <main class="container">
        {{> nav }}
        <h3 class="title is-4">{{heading}}</h3>
        <p id='homeheading'>
            Hier können die Comscorefelder bearbeitet werden.
        </p>
        {{#if updated}}<div class="notification is-primary">Projekt gespeichert</div>{{/if}}
        {{#if error}}<div class="notification is-danger">Fehler bei Updateversuch</div>{{/if}}

        <form action="details" method="post">
            <div class="field">
                <div class="control">
                    <label class="label">Simplex-ID</label>
                    <input class="input" type="text" placeholder="Text input" value="{{project.projectId}}" name="projectId" maxlength="20" readonly required>
                </div>
                <div class="control">
                    <label class="label">Titel</label>
                    <input class="input" type="text" placeholder="Text input" value="{{project.title}}" name="title" maxlength="20" required>
                </div>

                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea" maxlength="1024" name="description">{{project.description}}</textarea>
                </div>
            </div>


            <!--Comscore Feld-->
            <div class="field is-grouped">
                <div class="control">
                    <label class="label">Content-ID</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_ci" maxlength="20" value="{{details.ns_st_ci}}">
                </div>
                <div class="control">
                    <label class="label">Clip lenght</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_cl" maxlength="20" value="{{details.ns_st_cl}}">
                </div>

                <div class="control">
                    <label class="label">Classification Type</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_ct" maxlength="20" value="{{details.ns_st_ct}}">
                </div>
                <div class="control">
                    <label class="label">Channel-ID</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_stc" maxlength="20" value="{{details.ns_st_stc}}">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <label class="label">Programm ID</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_tpr" maxlength="20" value="{{details.ns_st_tpr}}">
                </div>
                <div class="control">
                    <label class="label">Episode ID</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_tep" maxlength="20" value="{{details.ns_st_tep}}">
                </div>

                <div class="control">
                    <label class="label">TV Air date</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_tdt" maxlength="20" value="{{details.ns_st_tdt}}">
                </div>
                <div class="control">
                    <label class="label">Digital Air date</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_ddt" maxlength="20" value="{{details.ns_st_ddt}}">
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <label class="label">OnAir Time</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_tm" maxlength="20" value="{{details.ns_st_tm}}">
                </div>
                <div class="control">
                    <label class="label">Channel-Name</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_st" maxlength="20" value="{{details.ns_st_st}}">
                </div>

                <div class="control">
                    <label class="label">Programm Name</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_pr" maxlength="100" value="{{details.ns_st_pr}}">
                </div>
                <!-- ! Die folgenden beiden Elemente müssen die Rheienfolge im Objekt tauschen, wurden nur für die Darstellung so angeordnet-->
                <div class="control">
                    <label class="label">Season Number</label>
                    <input class="input" type="text" placeholder="Text input" name="ns_st_sn" maxlength="20" value="{{details.ns_st_sn}}">
                </div>
            </div>
            <div class="field">
                <label class="label">Episode Title</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea" name="ns_st_ep" maxlength="1024">{{details.ns_st_ep}}</textarea>
                </div>
            </div>
         
                <div class="control">
                    <button class="button is-link" value="Submit">Update</button>
                </div>
        </form>
    </main>
</body>

{{> footer}}