{{> head}}

<body>
  {{>onlythesmall}}
  <main class="container">
    {{> nav }}
    <h3 class="title is-4">{{heading}}</h3>
    <p id='homeheading'>
      Hier können die Projekte eingesehen werden.
    </p>
    <div class="selectionWrapper">
      <div class="field">
        <div class="control">
          <div class="select is-primary">
            <select id="channelSelector">
              <option value=''>alle Channels</option>
              {{#each channels}}
              {{#if this.enabled}}
              <option value={{this.id}}>{{this.title}}</option>
              {{/if}}
              {{/each}}
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <div class="select is-primary">
            <select id="sortingSelector">
              <option value="desc">Datum absteigend</option>
              <option value="asc">Datum aufsteigend</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input id="searchText" class="input" type="text" placeholder="Suche" name="search" maxlength="20">
        </div>
      </div>
    </div>

    <div class="columns is-multiline">

    </div>

    <div id="pag-wrapper">

    </div>




  </main>
</body>

{{> footer}}