{{> head}}

<body>
  <main class="container">
    {{> nav }}
    <h3 class="title is-4">{{heading}}</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque,
      omnis!!!!!
    </p>
    <!--
    <div class="dropdown is-hoverable selectionItem">
      <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span>Channels</span>
              <span class="icon is-small">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
          </button>
      </div>

      <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
              {{#each channels}}
              {{#if this.enabled}}
              <a href="#" class="dropdown-item">{{this.title}}</a>
              {{/if}}
              {{/each}}
          </div>
      </div>
  </div>
-->
  <div class="field">
    <div class="control">
      <div class="select is-primary">
        <select>
          <option>Channels</option>
          {{#each channels}}
          {{#if this.enabled}}
          <option>{{this.title}}</option>
          {{/if}}
          {{/each}}
        </select>
      </div>
    </div>
  </div>
  </main>
</body>

{{> footer}}
