body, html{
    font-family: 'Roboto', sans-serif;
}

.loginForm{
    max-width: 25rem;
    margin-top: 5rem;
}

.footer{
    max-height: 2rem;
}


.selectionWrapper{
    display: flex;
    align-items: flex-start;
    
}

.pickerWrapper{
    width: 20em;
}

.selectionItem{
    padding: 0 0.15em;
}
